<head>


  <script src="~/js/VistaPersona1.0.0.js"></script>
  <script src="~/js/Persona.1.0.0.js"></script>

</head>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalVistaPersona">
ABRIR
</button>

<!-- Modal -->
<div class="modal fade" id="ModalVistaPersona" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      
                  <input type="text" id="PersonaID" value="0">
                  
                   
<form>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="nombre" id="nombre" aria-label="Nombre" aria-describedby="basic-addon2">
    </div>

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="apellido" id="apellido" aria-label="Apellido" aria-describedby="basic-addon2">
    </div>

    <div class="input-group mb-3">
        <input type="number" class="form-control" placeholder="edad" id="edad" aria-label="Edad" aria-describedby="basic-addon2">
    </div>

    <div class="input-group mb-3">
        <input type="number" class="form-control" placeholder="telefono" id="telefono" aria-label="Teléfono" aria-describedby="basic-addon2">
    </div>

    <div class="input-group mb-3">
        <input type="number" class="form-control" placeholder="documento" id="documento" aria-label="Documento" aria-describedby="basic-addon2">
    </div>
</form>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" onclick="GuardarPerfil()">Guardar</button>
      </div>
    </div>
  </div>
</div>


<div class="table" style="overflow: hidden; border-radius: 20px;">
  <table class="table table-dark table-striped" style="border-radius: 20px; overflow: hidden; width: 100%;">
    <thead>
      <tr>

        <th style="background-color: #241199;">Localidad</th>
        <th style="background-color: #241199;">Nombre</th>
        <th style="background-color: #241199;">Apellido</th>
        <th style="background-color: #241199;">Edad</th>
        <th style="background-color: #241199;">Telefono</th>
        <th style="background-color: #241199;">Documento</th>
        <th style="background-color: #241199;">Email</th>

        <th style="width: 150px; background-color: #241199;">Editar</th>
        <th style="width: 110px; background-color: #241199;">Eliminar</th>
      </tr>
    </thead>
    <tbody id="tbody-Persona"></tbody>
  </table>
</div>



@section Scripts {
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="~/js/VistaPersona1.0.0.js"></script>
  <script src="~/js/Persona.1.0.0.js"></script>




}
