<body class="color-fondo-body">
  






<h2 style="text-align: center; " class=" titulos">Carga de provincias</h2>

<!-- Button trigger modal -->
<div class="mb-2 text-center">
 
    <button type="button" class="btn btn-primary botones" data-bs-toggle="modal" data-bs-target="#ModalProvincia"><i class="fa-light fa-newspaper"></i>Crear Provincia</button>
     <button type="button"    onclick="ListadoProvincia()" class="btn btn-primary botones">
      Cargar 
    </button>
  </div>


<!-- Modal -->
<div class="modal fade" id="ModalProvincia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalTitulo" ></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
       <div class="input-group flex-nowrap">
  <span class="input-group-text" id="addon-wrapping"></span>
  <input type="hidden" id="ProvinciaID" value="0">
  <label for="nombreProvincia" class="form-label">Nombre de Provincia</label>

    <input type="text" class="form-control" id="nombreProvincia" placeholder="Nombre del tipo de actividad">
</div>


      </div>
      <div class="modal-footer">
        <button type="button" onclick="LimpiarModal();" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary"id="btnGuardarProvincia" onclick="GuardarProvincia()">Guardar</button>
      </div>
    </div>
  </div>
</div>







<div class="Tablaposicion">
 <table class="table tabla  table-hover justify-content: center  ;">
    <thead class="cabeza">
      <tr>
        <th >Nombre</th>  
          
           
           <th></th>
           <th></th>

      </tr>
    </thead>
    <tbody id="tbody-Provincias">
    </tbody>
  </table>
</div>

</div>




@section Scripts {
  
   <script src="~/js/Provincia.1.0.0.js"></script>
}






</body>