<!DOCTYPE html>
<html lang="en">
<head>

             

    <!-- Otras etiquetas de cabeza -->
    <script src="~/js/Servicio.1.0.0.js"></script>
       <link rel="stylesheet" href="~/css/Servicio.css" asp-append-version="true" />
</head>
<body>
@*  buscador *@
 @* <div class="col-md-6">
    <label for="ProfesionID" class="form-label">Profesion</label>
    @Html.DropDownList("ProfesionID", null, htmlAttributes: new { @class = "form-control", id = "ProfesionID", onchange = "CardServicios()" })
</div>  
 *@

    <!-- Otros elementos de la página -->
   
   <div class="boton-container">
  <button type="button" class="btn btn-primary boton" data-bs-toggle="modal" data-bs-target="#agregarServicio">Agregar Servicio</button>
</div>
<div class="conte">
    <div class="contenedor-card card id=" ServicioID">

        <div id="contenedorCards" class="row"></div>
    </div>

    <div class="modal fade tamaño-color-modal" id="agregarServicio" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampledModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modal_style">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel" style="color:;">Nuevo Servicio</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="javascript:void(0)" method="post" class="row g-3">
                        <input type="hidden" id="ServicioID" value="0" />
                        @* <input type="hidden" id="PersonaID" value="1" /> *@

                       <div class="col-md-6">
                <label for="ProfesionID" class="form-label">Profesion</label>
                @Html.DropDownList("ProfesionID", null, htmlAttributes: new { @class = "form-control", id = "ProfesionID" })
               </div>

             
             
    
                        
                        <div class="col-md-6">
                            <label for="PersonaID" class="form-label">Nombre</label>
                            @Html.DropDownList("PersonaID", null, htmlAttributes: new { @class = "form-control" })
                        </div>

                        @* <div class="col-md-6">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" id="nombre" class="form-control" placeholder="Nombre">
                        </div> *@

                        @* <div class="col-md-6">
                            <label for="imagen" class="form-label">Imagen</label>
                            <input type="file" id="imagen" class="form-control" placeholder="Imagen">
                        </div> *@

                        <div class="col-md-6">
                            <div class="form-check">
                                <input type="checkbox" id="herramientas" class="form-check-input">
                                <label for="herramientas" class="form-check-label">Herramientas</label>
                            </div>
                        </div>
@* 
                        <div class="col-md-6">
                            <label for="descripcion" class="form-label">Descripción</label>
                            <input type="text" id="descripcion" class="form-control" placeholder="Descripción">
                        </div> *@

                        @* <div class="col-md-6">
                            <label for="titulo" class="form-label">Título</label>
                            <input type="text" id="titulo" class="form-control" placeholder="Título">
                        </div> *@
@* 
                        <div class="col-md-6">
                            <label for="institucion" class="form-label">Institución</label>
                            <input type="text" id="institucion" class="form-control" placeholder="Institución">
                        </div> *@
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"onclick="LimpiarModal()" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="agregarServicio()">Guardar cambios</button>
              
            </div>
        </div>
    </div>

  
 </div>
</body>
</html>
  @section Scripts {
        <script src="~/js/Servicio.1.0.0.js"></script>
    }