
<body>
    
    <h1 style="text-align: center;">Servicios Disponibles ahora  cambios</h1>
<div class="conte">
    <div class="contenedor-card card id=" ServicioID">

        <div id="contenedorCards" class="row"></div>
    </div>

    <div class="modal fade" id="agregarServicio" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampledModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modal_style">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel" style="color: white;">Nuevo Servicio</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="javascript:void(0)" method="post" class="row g-3">
                        <input type="hidden" id="ServicioID" value="0" />
                        @* <input type="hidden" id="PersonaID" value="1" /> *@

                       <div class="col-md-6">
                <label for="ProfesionID" class="form-label">Profesion</label>
                @Html.DropDownList("ProfesionID", null, htmlAttributes: new { @class = "form-control", id = "ProfesionID" })
               </div>              
                        <div class="col-md-6">
                            <label for="PersonaID" class="form-label">Nombre</label>
                            @Html.DropDownList("PersonaID", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    <div class="col-md-6">
                            <div class="form-check">
                                <input type="checkbox" id="herramientas" class="form-check-input">
                                <label for="herramientas" class="form-check-label">Herramientas</label>
                            </div>
                        </div>
                   
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"onclick="LimpiarModal()" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="agregarServicio()">Guardar cambios</button>
              
            </div>
        </div>
    </div>

  
 </div>
</body>
</html>
  @section Scripts {
        <script src="~/js/VistaServicio.js"></script>
    }