<head>
  <link rel="stylesheet" href="~/css/Localidad.css" asp-append-version="true" />
</head>
<body class="color-fondo-body">
  






<h2 style="text-align: center; " class=" titulos">Carga de Localidades</h2>

<!-- Button trigger modal -->
<div class="mb-2 text-center">
 
    <button type="button" class="btn btn-primary botones" data-bs-toggle="modal" data-bs-target="#ModalLocalidad"><i class="fa-light fa-newspaper"></i>Crear Localidad</button>
     <button type="button"    onclick="ListadoLocalidad()" class="btn btn-primary botones">
      Cargar 
    </button>
  </div>


   


<!-- Modal -->
<div class="modal fade" id="ModalLocalidad" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalTitulo" ></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

           <div >
            <input type="hidden" id="LocalidadID" value="0" />
          
              <label for="ProvinciaID" class="form-label">Tipo de Ejercicio</label>
              @Html.DropDownList("ProvinciaID", null, htmlAttributes: new { @class = "form-control" })
            </div>

        
       <div class="input-group flex-nowrap">
  <span class="input-group-text" id="addon-wrapping"></span>
  <input type="hidden" id="LocalidadID" value="0">
  <label for="nombreLocalidad" class="form-label">Nombre de Localidad</label>

    <input type="text" class="form-control" id="nombreLocalidad" placeholder="Nombre de la localidad">

      <span class="input-group-text" id="addon-wrapping"></span>
  <input type="hidden" id="codigoPostal" >
  <label for="codigoPostal" class="form-label">Codigo Postal</label>

    <input type="text" class="form-control" id="CodigoPostal" placeholder="Codigo Postal">
</div>


      </div>
      <div class="modal-footer">
        <button type="button" onclick="LimpiarModal();" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="GuardarLocalidad()" id="btnGuardarLocalidad">Guardar</button>
      </div>
    </div>
  </div>
</div>







<div class="Tablaposicion">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Provincia</th> 
        <th>Nombre</th> 
        <th>Codigo Postal</th>  
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody id="tbody-Localidades">
      <!-- Los datos de la tabla se cargarán aquí -->
    </tbody>
  </table>
</div>




@section Scripts {
  
   <script src="~/js/Localidad.1.0.0.js"></script>
}






</body>