.Tablaposicion {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    padding: 1rem; /* Espaciado alrededor de la tabla */
  }
  
  .table {
    width: 100%; /* Asegura que la tabla use todo el ancho disponible del contenedor */
    max-width: 100%; /* Evita que la tabla exceda el ancho del contenedor */
    border-collapse: collapse; /* Elimina el espacio entre bordes */
  }
  
  .table th, .table td {
    padding: 0.75rem; /* Ajusta el espaciado interno de las celdas */
    text-align: left; /* Alineación del texto en las celdas */
    border-bottom: 1px solid #dee2e6; /* Línea inferior para separación de filas */
  }
  
  .table thead th {
    background-color: #f8f9fa; /* Color de fondo para los encabezados */
    border-bottom: 2px solid #dee2e6; /* Línea inferior más gruesa para los encabezados */
  }